[build]
builder = "dockerfile"

[deploy]
startCommand = "dotnet blazor-auth-starter.dll"
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
healthcheckPath = "/health"
healthcheckTimeout = 100